html {
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
    color:rgb( 212,190,152 ) !important;
    font-size: 18px;
}

a {
    color:rgb( 212,190,152 );
}

svg {
    color:rgb( 212,190,152 ) !important;
}

h1 {
    color: rgb( 234,105,98 ) !important;
}

h2.relative.group {
    color: rgb( 231,138,78 ) !important;
    font-size: 1.6em !important;
}

div.font-bold {
    color: rgb( 231,138,78 ) !important;
}

div.font-semibold {
    color: rgb( 212,190,152 ) !important;
}

h3 {
    color: rgb( 169,182,101 ) !important;
    font-size: 1.37em !important;
}

h4{
    color: rgb( 137,180,130 ) !important;
}