:root {
    --color-neutral: 255, 250, 242;
    /* Stone */
    --color-neutral-50: 243, 243, 243;
    --color-neutral-100: 233, 233, 233;
    --color-neutral-200: 212, 212, 212;
    --color-neutral-300: 192, 192, 192;
    --color-neutral-400: 162, 162, 162;
    --color-neutral-500: 131, 131, 131;
    --color-neutral-600: 101, 101, 101;
    --color-neutral-700: 70, 70, 70;
    --color-neutral-800: 40, 40, 40;
    --color-neutral-900: 19, 19, 19;
    --color-neutral-950: 10, 10, 10;
    /* Orange */
    --color-primary-50: 255, 247, 237;
    --color-primary-100: 0, 184, 212;
    --color-primary-200: 254, 215, 170;
    --color-primary-300: 253, 186, 116;
    --color-primary-400: 231, 138, 78;
    --color-primary-500: 249, 115, 22;
    --color-primary-600: 234, 88, 12;
    --color-primary-700: 194, 65, 12;
    --color-primary-800: 44, 105, 117;
    --color-primary-900: 40, 55, 58;
    /* Rose */
    --color-secondary-50: 255, 241, 242;
    --color-secondary-100: 255, 228, 230;
    --color-secondary-200: 254, 205, 211;
    --color-secondary-300: 253, 164, 175;
    --color-secondary-400: 251, 113, 133;
    --color-secondary-500: 244, 63, 94;
    --color-secondary-600: 225, 29, 72;
    --color-secondary-700: 190, 18, 60;
    --color-secondary-800: 159, 18, 57;
    --color-secondary-900: 136, 19, 55;
    
    --color-primary-500: 212, 190, 123;
    --color-neutral-500: 40, 40, 40;
    --color-secondary-500: 231, 138, 78;
  }