{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="form-container rounded-md shadow-lg mt-6 bg-[#d4be98]">
      <div class="content-container p-6">
        <div class="content-text font-medium">{{ .Content }}</div>

        <form action="https://formspree.io/f/xknlqjgr" method="POST">
          <div class="flex mt-6">
            <span
              class="inline-flex items-center px-3 text-sm border border-r-0 rounded-l-md bg-[#656565] border-[#656565]"
            >
              <svg
                class="w-4 h-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 16"
              >
                <path
                  d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
                />
                <path
                  d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
                />
              </svg>
            </span>
            <input
              type="email"
              name="email"
              class="rounded-none rounded-r-lg border block flex-1 min-w-0 w-full text-sm p-2.5 bg-[#464646] text-[#d4be98] placeholder-[#948469] border-neutral-600 focus:ring-neutral-500 focus:border-neutral-500"
              placeholder="Deine Email Adresse"
            />
          </div>
          <div class="flex mt-6">
            <span
              class="inline-flex items-center px-3 text-sm border border-r-0 rounded-l-md bg-[#656565] border-[#656565]"
            >
              <svg
                class="w-4 h-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 233.058 233.058"
                fill="currentColor"
              >
                <g>
                  <path
                    d="M116.538,4.05C52.284,4.05,0,45.321,0,96.043c0,28.631,16.729,55.208,45.889,72.911c4.525,2.737,7.635,7.283,8.572,12.478
             c2.876,16.045-0.991,32.948-6.758,47.576c19.239-9.134,39.064-23.161,54.8-36.63c3.879-3.314,9.055-4.701,14.087-4.354h0.023
             c64.191,0,116.445-41.259,116.445-91.987C233.058,45.321,180.792,4.05,116.538,4.05z"
                  />
                </g>
              </svg>
            </span>
            <textarea
              type="text"
              name="message"
              rows="4"
              class="rounded-none rounded-r-lg border block flex-1 min-w-0 w-full text-sm p-2.5 bg-[#464646] text-[#d4be98] placeholder-[#948469] border-neutral-600 focus:ring-neutral-500 focus:border-neutral-500"
              placeholder="Deine Nachricht"
            ></textarea>
          </div>
          <div class="flex mt-6">
            <button
              type="summit"
              class="text-[#d4be98] font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-[#464646] hover:bg-[#282828]"
            >
              Abschicken
            </button>
          </div>
        </form>
        <form action="?" method="POST">
          <div
            class="g-recaptcha"
            data-sitekey="6LeLK2ooAAAAADCtVbMwdO1yBmiLNZmHjTRM_YZO"
          ></div>
          <br />
          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }}
